{% extends 'main.html' %}

{% block content %}
<h1>Home page</h1>
<center>
    <div id="container">

        <h1>Task Details</h1>

        {% for task in tasks %}

        <ul>
            <li id="title"><a href="{% url 'task_details' task.id %}"><h2>{{task.title}}</h2></a></li>
            <button id="blue"><a href="{% url 'edit' task.id %}">Edit</a></button>
            <button id="red"><a href="{% url 'Delete' task.id %}">Delete</a></button>
        </ul>

        {% endfor %}

    </div>
</center>

{% endblock %}